.design{text-align: justify;}
.heading{color: blue;}
.contain{text-align: center; font-size: 20; color: white;}
.a{text-align: justify;}
.picture{background: white;}
.menubar{background: red; color: blue; font-size: 100;}
